.data-display {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .data-section {
    margin-bottom: 30px;
  }
  
  h1 {
    color: #fdfdfd;
  }
  h3 {
    color: #98989d;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #c06767;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #ff0000;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #ff0000;
  }
  
  tr:hover {
    background-color: #f7a0a0;
  }
  
  